<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers tw-mb-2">{{ "customFields" | i18n }}</h5>
  <bit-card>
    <div
      class="tw-mb-4 tw-border-secondary-300 tw-bg-background"
      *ngFor="let field of fields; let last = last"
      [class.tw-border-0]="!last"
      [class.tw-border-b]="!last"
      [class.tw-border-solid]="!last"
      [class.tw-pb-2]="!last"
      [class.tw-mb-4]="!last"
    >
      <ng-container *ngIf="field.type === fieldType.Text">
        <label class="tw-text-xs tw-text-muted tw-select-none">
          {{ field.name }}
        </label>
        <div class="tw-flex tw-justify-between">
          <p class="!tw-mb-0">{{ field.value }}</p>
          <button
            bitIconButton="bwi-clone"
            bitSuffix
            type="button"
            [appCopyClick]="field.value"
            [appCopyToastMessage]="'copySuccessful' | i18n"
            [appCopyToastVariant]="'info'"
            [appA11yTitle]="'copyValue' | i18n"
          ></button>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Hidden">
        <label class="tw-text-xs tw-text-muted tw-select-none">
          {{ field.name }}
        </label>
        <div class="tw-flex tw-justify-between">
          <input
            class="tw-bg-transparent tw-border-none"
            type="{{ hiddenFields[field.name] ? 'text' : 'password' }}"
            [value]="field.value"
            readonly
            aria-readonly="true"
          />
          <div>
            <button
              *ngIf="!hiddenFields[field.name]"
              bitIconButton="bwi-eye"
              bitSuffix
              type="button"
              (click)="togglePassword(field.name)"
              [appA11yTitle]="'toggleVisibility' | i18n"
            ></button>
            <button
              *ngIf="hiddenFields[field.name]"
              bitIconButton="bwi-eye-slash"
              bitSuffix
              type="button"
              (click)="togglePassword(field.name)"
              [appA11yTitle]="'toggleVisibility' | i18n"
            ></button>
            <button
              bitIconButton="bwi-clone"
              bitSuffix
              type="button"
              [appCopyClick]="field.value"
              [appCopyToastMessage]="'copySuccessful' | i18n"
              [appCopyToastVariant]="'info'"
              [appA11yTitle]="'copyValue' | i18n"
            ></button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Boolean">
        <div class="tw-flex tw-my-2">
          <input
            class="tw-bg-transparent tw-border-none"
            type="checkbox"
            [value]="field.value"
            readonly
            aria-readonly="true"
          />
          <h5 class="tw-ml-3">
            {{ field.name }}
          </h5>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Linked">
        <label class="tw-text-xs tw-text-muted tw-select-none">
          {{ "linked" | i18n }}: {{ field.name }}
        </label>
        <div class="tw-flex tw-justify-between">
          <p class="!tw-mb-0">{{ getLinkedType(field.linkedId) }}</p>
          <button
            bitIconButton="bwi-clone"
            bitSuffix
            type="button"
            [appCopyClick]="field.name"
            [appCopyToastMessage]="'copySuccessful' | i18n"
            [appCopyToastVariant]="'info'"
            [appA11yTitle]="'copyValue' | i18n"
          ></button>
        </div>
      </ng-container>
    </div>
  </bit-card>
</div>
