<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "customFields" | i18n }}</h5>
  <div class="box-content-row">
    <div class="row-border-bottom" *ngFor="let field of fields">
      <ng-container *ngIf="field.type === fieldType.Text">
        <label class="row-label">
          {{ field.name }}
        </label>
        <div class="tw-flex tw-justify-between">
          <input type="text" [value]="field.value" readonly aria-readonly="true" />
          <i (click)="copy(field.value)" class="bwi bwi-clone bwi-fw"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Hidden">
        <label class="row-label">
          {{ field.name }}
        </label>
        <div class="tw-flex tw-justify-between">
          <input
            type="{{ hiddenFields[field.name] ? 'text' : 'password' }}"
            [value]="field.value"
            readonly
            aria-readonly="true"
          />
          <div class="tw-flex tw-justify-end tw-items-center">
            <button
              type="button"
              class="row-btn tw-mr-1"
              appStopClick
              appA11yTitle="{{ 'toggleVisibility' | i18n }}"
              (click)="togglePassword(field.name)"
            >
              <i
                class="bwi"
                [ngClass]="{
                  'bwi-eye': !hiddenFields[field.name],
                  'bwi-eye-slash': hiddenFields[field.name]
                }"
                aria-hidden="true"
              ></i>
            </button>
            <i (click)="copy(field.value)" class="bwi bwi-clone bwi-fw"></i>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Boolean">
        <div class="tw-grow tw-flex tw-my-2">
          <input type="checkbox" [value]="field.value" readonly aria-readonly="true" />
          <h5 class="tw-ml-3">
            {{ field.name }}
          </h5>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === fieldType.Linked">
        <label class="row-label"> {{ "linked" | i18n }}: {{ field.name }} </label>
        <div class="tw-flex tw-justify-between">
          <input
            type="text"
            [value]="getLinkedType(field.linkedId)"
            readonly
            aria-readonly="true"
          />
          <i (click)="copy(field.value)" class="bwi bwi-clone bwi-fw"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>
