<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "itemHistory" | i18n }}</h5>
  <div class="box-content-row">
    <p class="row-label">
      <span class="tw-font-bold">{{ "lastEdited" | i18n }}:</span>
      {{ cipher.revisionDate | date: "medium" }}
    </p>
    <p class="row-label">
      <span class="tw-font-bold">{{ "dateCreated" | i18n }}:</span>
      {{ cipher.creationDate | date: "medium" }}
    </p>
    <p class="row-label">
      <span class="tw-font-bold">{{ "datePasswordUpdated" | i18n }}:</span>
      {{ cipher.passwordRevisionDisplayDate | date: "medium" }}
    </p>
    <!-- We will need to link to the updated password generator history component when it is ready -->
    <div *ngIf="cipher.hasPasswordHistory" (click)="openPasswordHistory()">
      <a
        class="tw-font-bold tw-no-underline"
        routerLink="/cipher-password-history"
        [queryParams]="{ cipherId: cipher.id }"
      >
        {{ "passwordHistory" | i18n }}
      </a>
    </div>
  </div>
</div>
