<popup-page>
  <popup-header slot="header" [pageTitle]="'assignCollections' | i18n" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <bit-card>
    <p bitTypography="body1">
      1 item will be permanently transferred to the selected organization. You will no longer own
      this item.
    </p>
    <ng-container *ngIf="organizations$ | async as organizations">
      <bit-form-field>
        <bit-label>{{ "moveToOrganization" | i18n }}</bit-label>
        <bit-select
          *ngIf="organizations.length"
          id="organization"
          name="OrganizationId"
          [(ngModel)]="organizationId"
          (change)="updateCollections()"
          [disabled]="organizations.length === 1"
          [required]="true"
        >
          <bit-option *ngFor="let o of organizations" [value]="o.id" [label]="o.name"></bit-option>
        </bit-select>
      </bit-form-field>
    </ng-container>
    <bit-form-field *ngIf="collections.length" disableMargin>
      <bit-label>{{ "collections" | i18n }}</bit-label>
      <bit-multi-select
        id="collections"
        name="Collections"
        class="tw-w-full"
        [baseItems]="collections"
        [required]="true"
      ></bit-multi-select>
    </bit-form-field>
  </bit-card>

  <popup-footer slot="footer">
    <button bitButton buttonType="primary">{{ "save" | i18n }}</button>
    <button bitButton buttonType="secondary" (click)="navigateBack()">{{ "cancel" | i18n }}</button>
  </popup-footer>
</popup-page>
