<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton> </popup-header>

  <div>
    <h5 class="tw-pl-2 tw-font-bold">{{ "itemDetails" | i18n }}</h5>
    <div class="box-content-row" *ngIf="cipher.login.username">
      <div class="row-border-bottom">
        <label for="loginUsername" class="row-label draggable" draggable="true">
          {{ "itemName" | i18n }}
        </label>
        <input
          id="loginUsername"
          type="text"
          [value]="cipher.login.username"
          readonly
          aria-readonly="true"
        />
      </div>
      <div *ngIf="cipher.collectionIds || cipher.organizationId || cipher.folderId">
        <div *ngIf="cipher.organizationId" class="tw-mb-3">
          <i class="bwi bwi-business bwi-lg bwi-fw"></i> {{ organization.name }}
        </div>
        <div *ngIf="cipher.collectionIds" class="tw-mb-3">
          <h3 *ngFor="let collection of cipherCollections">
            <i class="bwi bwi-collection bwi-lg bwi-fw"></i> {{ collection.name }}
          </h3>
        </div>
        <div *ngIf="cipher.folderId" class="tw-mb-3">
          <i class="bwi bwi-folder bwi-lg bwi-fw"></i> {{ folder.name }}
        </div>
      </div>
    </div>
  </div>

  <popup-footer slot="footer">
    <a bitButton type="button" buttonType="primary" (click)="editCipher()">
      {{ "edit" | i18n }}
    </a>

    <ng-container slot="end">
      <button
        type="button"
        class="box-content-row"
        (click)="deleteCipher()"
        appStopClick
        #deleteBtn
      >
        <div class="row-main text-danger">
          <div class="icon text-danger" aria-hidden="true">
            <i class="bwi bwi-trash bwi-lg bwi-fw"></i>
          </div>
        </div>
      </button>
    </ng-container>
  </popup-footer>
</popup-page>
