<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton> </popup-header>

  <!-- ITEM DETAILS -->
  <ng-container *ngIf="!!cipher">
    <app-item-details-v2
      [cipher]="cipher"
      [organization]="organization$ | async"
      [collections]="collections$ | async"
      [folder]="folder$ | async"
    >
    </app-item-details-v2>
  </ng-container>

  <!-- ADDITIONAL INFORMATION -->
  <ng-container *ngIf="!!cipher">
    <app-additional-information-v2 [cipher]="cipher"> </app-additional-information-v2>
  </ng-container>

  <!-- ATTACHMENTS SECTION -->
  <ng-container *ngIf="!!cipher && cipher.attachments">
    <app-attachments-v2 [cipher]="cipher"> </app-attachments-v2>
  </ng-container>

  <!-- ITEM HISTORY SECTION -->
  <ng-container *ngIf="!!cipher">
    <app-item-history-v2 [cipher]="cipher"> </app-item-history-v2>
  </ng-container>

  <popup-footer slot="footer">
    <a bitButton type="button" buttonType="primary" (click)="editCipher()">
      {{ "edit" | i18n }}
    </a>
    <ng-container slot="end">
      <button
        type="button"
        class="box-content-row"
        (click)="deleteCipher()"
        appStopClick
        #deleteBtn
      >
        <div class="row-main text-danger">
          <div class="icon text-danger" aria-hidden="true">
            <i class="bwi bwi-trash bwi-lg bwi-fw"></i>
          </div>
        </div>
      </button>
    </ng-container>
  </popup-footer>
</popup-page>
