<popup-page>
  <popup-header slot="header" [pageTitle]="headerText" showBackButton> </popup-header>

  <!-- ITEM DETAILS SECTION -->
  <div class="tw-mb-6">
    <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "itemDetails" | i18n }}</h5>
    <div class="box-content-row" *ngIf="cipher.login.username">
      <div class="row-border-bottom">
        <label class="row-label">
          {{ "itemName" | i18n }}
        </label>
        <input type="text" [value]="cipher.login.username" readonly aria-readonly="true" />
      </div>

      <div *ngIf="cipher.collectionIds || cipher.organizationId || cipher.folderId">
        <div *ngIf="!cipher.organizationId" class="tw-mb-3">
          <i class="bwi bwi-user bwi-lg bwi-fw"></i> {{ "ownerYou" | i18n }}
        </div>
        <div *ngIf="cipher.organizationId" class="tw-mb-3">
          <i class="bwi bwi-business bwi-lg bwi-fw"></i> {{ organization.name }}
        </div>
        <div *ngIf="cipher.collectionIds" class="tw-mb-3">
          <h3 *ngFor="let collection of cipherCollections">
            <i class="bwi bwi-collection bwi-lg bwi-fw"></i> {{ collection.name }}
          </h3>
        </div>
        <div *ngIf="cipher.folderId" class="tw-mb-3">
          <i class="bwi bwi-folder bwi-lg bwi-fw"></i> {{ folder.name }}
        </div>
      </div>
    </div>
  </div>

  <!-- ADDITIONAL INFORMATION SECTION -->
  <div class="tw-mb-6">
    <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "additionalInformation" | i18n }}</h5>
    <div class="box-content-row">
      <div
        *ngIf="cipher.notes"
        class="tw-flex tw-justify-between"
        [ngClass]="{ 'row-border-bottom': cipher.fields }"
      >
        <div class="tw-grow">
          <label class="row-label">
            {{ "note" | i18n }}
          </label>
          <input type="text" [value]="cipher.notes" readonly aria-readonly="true" />
        </div>
        <div class="tw-flex tw-justify-end tw-items-center">
          <i (click)="copy(cipher.notes)" class="bwi bwi-clone bwi-lg bwi-fw"></i>
        </div>
      </div>
      <ng-container *ngIf="cipher.fields">
        <div
          class="row-border-bottom tw-flex tw-justify-between"
          *ngFor="let field of cipher.fields"
        >
          <ng-container *ngIf="field.type === 0">
            <div class="tw-grow">
              <label class="row-label">
                {{ field.name }}
              </label>
              <input type="text" [value]="field.value" readonly aria-readonly="true" />
            </div>
          </ng-container>
          <ng-container *ngIf="field.type === 1">
            <div class="tw-grow">
              <label class="row-label">
                {{ field.name }}
              </label>
              <input type="password" [value]="field.value" readonly aria-readonly="true" />
            </div>
          </ng-container>
          <ng-container *ngIf="field.type === 2">
            <div class="tw-grow tw-flex tw-my-2">
              <input type="checkbox" [value]="field.value" readonly aria-readonly="true" />
              <h5 class="tw-ml-3">
                {{ field.name }}
              </h5>
            </div>
          </ng-container>
          <div class="tw-flex tw-justify-end tw-items-center">
            <i *ngIf="field.type === 1" class="bwi bwi-eye bwi-lg bwi-fw tw-mr-1"></i>
            <i
              *ngIf="field.type !== 2"
              (click)="copy(field.value)"
              class="bwi bwi-clone bwi-lg bwi-fw"
            ></i>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- ATTACHMENTS SECTION -->
  <div class="tw-mb-6" *ngIf="cipher.attachments">
    <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "attachments" | i18n }}</h5>
    <div class="box-content-row tw-p-2" *ngFor="let attachment of cipher.attachments">
      <div class="tw-flex tw-justify-between">
        <div>
          <h3 class="tw-grow">
            {{ attachment.fileName }}
          </h3>
          <div class="box-footer row-label">
            {{ attachment.sizeName }}
          </div>
        </div>
        <div class="tw-flex tw-items-center">
          <i class="bwi bwi-eye bwi-lg bwi-fw"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- ITEM HISTORY SECTION -->
  <div class="tw-mb-6">
    <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "itemHistory" | i18n }}</h5>
    <div class="box-content-row">
      <p class="row-label">
        <span class="tw-font-bold">{{ "lastEdited" | i18n }}:</span>
        {{ cipher.revisionDate | date: "medium" }}
      </p>
      <p class="row-label">
        <span class="tw-font-bold">{{ "dateCreated" | i18n }}:</span>
        {{ cipher.creationDate | date: "medium" }}
      </p>
      <p class="row-label">
        <span class="tw-font-bold">{{ "datePasswordUpdated" | i18n }}:</span>
        {{ cipher.passwordRevisionDisplayDate | date: "medium" }}
      </p>
      <div *ngIf="cipher.hasPasswordHistory">
        <a (click)="openPasswordHistory()">{{ "passwordHistory" | i18n }}</a>
      </div>
    </div>
  </div>

  <popup-footer slot="footer">
    <a bitButton type="button" buttonType="primary" (click)="editCipher()">
      {{ "edit" | i18n }}
    </a>

    <ng-container slot="end">
      <button
        type="button"
        class="box-content-row"
        (click)="deleteCipher()"
        appStopClick
        #deleteBtn
      >
        <div class="row-main text-danger">
          <div class="icon text-danger" aria-hidden="true">
            <i class="bwi bwi-trash bwi-lg bwi-fw"></i>
          </div>
        </div>
      </button>
    </ng-container>
  </popup-footer>
</popup-page>
