<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers tw-mb-2">{{ "additionalInformation" | i18n }}</h5>
  <bit-card>
    <label class="tw-text-xs tw-text-muted tw-select-none">
      {{ "note" | i18n }}
    </label>
    <div class="tw-flex tw-justify-between">
      <p class="!tw-mb-0">{{ notes }}</p>
      <i
        [appCopyClick]="notes"
        [appCopyToastMessage]="'copySuccessful' | i18n"
        [appCopyToastVariant]="'info'"
        class="bwi bwi-clone bwi-fw"
        [appA11yTitle]="'copyValue' | i18n"
      ></i>
    </div>
  </bit-card>
</div>
