<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers tw-mb-2">{{ "additionalInformation" | i18n }}</h5>
  <bit-card>
    <label class="tw-text-xs tw-text-muted tw-select-none">
      {{ "note" | i18n }}
    </label>
    <div class="tw-flex tw-justify-between">
      <textarea readonly bitInput aria-readonly="true">{{ notes }}</textarea>
      <button
        bitIconButton="bwi-clone"
        bitSuffix
        size="small"
        type="button"
        [appCopyClick]="notes"
        [appCopyToastMessage]="'copySuccessful' | i18n"
        [appCopyToastVariant]="'info'"
        [appA11yTitle]="'copyValue' | i18n"
      ></button>
    </div>
  </bit-card>
</div>
