<form #form (ngSubmit)="submit()" [appApiAction]="formPromise" class="tw-min-w-96">
  <bit-form-field>
    <bit-label>{{ "masterPass" | i18n }}</bit-label>
    <input
      type="password"
      bitInput
      appAutofocus
      name="masterPassword"
      [(ngModel)]="masterPassword"
      required
    />
    <button type="button" bitIconButton bitSuffix bitPasswordInputToggle></button>
    <bit-hint>{{ "loggedInAsEmailOn" | i18n: email : webVaultHostname }}</bit-hint>
  </bit-form-field>

  <hr />

  <div class="tw-flex tw-gap-2">
    <button type="submit" bitButton buttonType="primary" block [loading]="form.loading">
      <i class="bwi bwi-unlock" aria-hidden="true"></i>
      {{ "unlock" | i18n }}
    </button>
    <button type="button" bitButton block (click)="logOut()">
      {{ "logOut" | i18n }}
    </button>
  </div>
</form>
