<ng-container *ngIf="syncLoading">
  <i class="bwi bwi-spinner bwi-spin tw-mr-2" title="{{ 'loading' | i18n }}" aria-hidden="true"></i>
  {{ "loading" | i18n }}
</ng-container>

<ng-container *ngIf="!syncLoading">
  <div
    *ngIf="
      forceSetPasswordReason ==
        ForceSetPasswordReason.TdeUserWithoutPasswordHasPasswordResetPermission;
      else defaultHeading
    "
    class="tw-mb-6"
  >
    {{ "orgPermissionsUpdatedMustSetPassword" | i18n }}
  </div>

  <ng-template #defaultHeading>
    <div class="tw-mb-6">
      {{ "finishJoiningOrgBySettingMasterPassword" | i18n: orgSsoIdentifier }}
    </div>
  </ng-template>

  <auth-input-password
    [email]="email"
    [buttonText]="'setMasterPassword' | i18n"
    [masterPasswordPolicyOptions]="masterPasswordPolicyOptions"
    (onPasswordFormSubmit)="getPasswordInputResult($event)"
  >
  </auth-input-password>
</ng-container>
