<div class="tw-mb-6">
  <h5 class="tw-pl-2 tw-font-bold tw-text-headers">{{ "itemDetails" | i18n }}</h5>
  <div class="box-content-row" *ngIf="cipher.login.username">
    <div class="row-border-bottom">
      <label class="row-label">
        {{ "itemName" | i18n }}
      </label>
      <input type="text" [value]="cipher.login.username" readonly aria-readonly="true" />
    </div>

    <div *ngIf="cipher.collectionIds || cipher.organizationId || cipher.folderId">
      <div *ngIf="!cipher.organizationId" class="tw-mb-3">
        <i class="bwi bwi-user bwi-lg bwi-fw"></i> {{ "ownerYou" | i18n }}
      </div>
      <div *ngIf="cipher.organizationId && organization" class="tw-mb-3">
        <i class="bwi bwi-business bwi-lg bwi-fw"></i> {{ organization.name }}
      </div>
      <div *ngIf="cipher.collectionIds && collections" class="tw-mb-3">
        <h3 *ngFor="let collection of collections">
          <i class="bwi bwi-collection bwi-lg bwi-fw"></i> {{ collection.name }}
        </h3>
      </div>
      <div *ngIf="cipher.folderId && folder" class="tw-mb-3">
        <i class="bwi bwi-folder bwi-lg bwi-fw"></i> {{ folder.name }}
      </div>
    </div>
  </div>
</div>
